.about
  background-color: #0a0a0a
  
  .about-text
    padding-top: 100px
    padding-bottom: 100px
    color: white
    font-size: 30px
    letter-spacing: 2px
    max-width: 1200px
    margin: 0px auto 0px
    font-weight: bold
    word-wrap: break-word
    
  p
    margin-bottom: 0px
    
  #ul
    padding-bottom: 0px
    border-bottom: 2px solid currentColor
    text-decoration: none
    