<section id="portfolio" class="portfolio">
  <p>Projects</p>
  <div class="project-thumbs">
    <img src="assets/img/devmatch.jpg" class="thumb"></img>
    <img src="assets/img/portsite1.jpg" class="thumb"></img>
    <img src="assets/img/portsite2.jpg" class="thumb"></img>
    <img src="assets/img/portsite3.jpg" class="thumb"></img>
    <div class="wut">
     <img src="assets/img/devmatch.jpg" class="f"></img>
     <img src="assets/img/devmatch.jpg" class="f"></img>
     <img src="assets/img/devmatch.jpg" class="f"></img>
    </div>
  </div>
</section>