<section id="portfolio" class="portfolio">
  <p>Projects</p>
  <div id="all-thumbs" class="container-fluid all-thumbs">
    <div class="row">
      <div class="col-md-12">
        <a href="https://limitless-meadow-51588.herokuapp.com/" target="_blank" class="hvr-shrink"><img src="assets/img/devmatch.jpg" class="thumb" id="first"></img></a>
        <a href="https://crystalcastles.github.io/another-portfolio/" target="_blank" class="hvr-shrink"><img src="assets/img/portsite1.jpg" class="thumb"></img></a>
        <a href="https://crystalcastles.github.io/dt-portfolio-site/" target="_blank" class="hvr-shrink"><img src="assets/img/portsite2.jpg" class="thumb"></img></a>
        <a href="https://crystalcastles.github.io/buffalo-bike-co/" target="_blank" class="hvr-shrink"><img src="assets/img/portsite4.jpg" class="thumb"></img></a>
        <a href="https://crystalcastles.github.io/business-site-template/" target="_blank" class="hvr-shrink"><img src="assets/img/portsite5.jpg" class="thumb"></img></a>
        <a href="https://crystalcastles.github.io/digital-agency-site/" target="_blank" class="hvr-shrink"><img src="assets/img/portsite6.jpg" class="thumb"></img></a>
        <a href="https://crystalcastles.github.io/kinzoku-gym-site/" target="_blank" class="hvr-shrink"><img src="assets/img/portsite7.jpg" class="thumb"></img></a>
        <a href="https://crystalcastles.github.io/old-site-2016/" target="_blank" class="hvr-shrink"><img src="assets/img/portsite3.jpg" class="thumb"></img></a>
      </div>
      
      <div class="col-xs-4"><a href="https://github.com/CrystalCastles" target="_blank" class="hvr-shrink"><img src="assets/img/github.jpg" class="thumb small-thumb"></img></a></div>
      <div class="col-xs-4"><a href="https://www.freecodecamp.com/crystalcastles" target="_blank" class="hvr-shrink"><img src="assets/img/freecodecamp.jpg" class="thumb small-thumb"></img></a></div>
      <div class="col-xs-4"><a href="https://www.codecademy.com/CrystalCastles" target="_blank" class="hvr-shrink"><img src="assets/img/codeacademy.jpg" class="thumb small-thumb"></img></a></div>
    </div>
  </div>
</section>
